.alignwithNav{
    margin: 50px;
}

div{

    margin: 50px;
}
.alignCenter{
    text-align: center;
}
hr {
    top: 20px;
    height: 15px;
    background: black;
    margin-bottom: 50px;
}
.alignImages{
    margin: auto;
}